<!-- _includes/modals.html -->

<!-- Portfolio Modals -->
{% for project in site.portfolio %}
  {% if site.locale and site.locale != "" and site.locale != nil %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <p>{{ project.content }}</p>
                 <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
                >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Window" }}
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <h2 class="text-uppercase">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <p>{{ project.content }}</p>
                 <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
                >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Window" }}
              </button>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
<!-- End Portfolio Modals -->

<!-- About Modals -->
{% for item in site.about %}
  <div class="portfolio-modal modal fade" id="a{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <p>{{ item.content | markdownify }}</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  {{ site.data.sitetext[site.locale].portfolio.closebutton | default: "Close Window" }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End About Modals -->



<!-- Team Modals -->
{% for person in site.data.sitetext[site.locale].team.people %}
  {% if site.locale and site.locale != "" and site.locale != nil %}
  <div class="portfolio-modal modal fade" id="team-{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body text-center">
                <h2 class="text-uppercase">{{ person.name }}</h2>
                <p class="item-intro text-muted">{{ person.role }}</p>
                <img class="img-fluid d-block mx-auto mb-4 rounded-circle"
                     src="{{ person.image }}"
                     alt="{{ person.name }}"
                     style="max-width:200px;">
                {% if person.bio %}
                  <div class="mb-4">{{ person.bio | markdownify }}</div>
                {% endif %}
                {% if person.social %}
                  <ul class="list-inline social-buttons">
                    {% for net in person.social %}
                      <li class="list-inline-item">
                        <a href="{{ net.url }}" target="_blank">
                          <i class="{{ net.icon }}"></i>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="portfolio-modal modal fade" id="team-{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr"><div class="rl"></div></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body text-center">
                <h2 class="text-uppercase">{{ person.name }}</h2>
                <p class="item-intro text-muted">{{ person.role }}</p>
                <img class="img-fluid d-block mx-auto mb-4 rounded-circle"
                     src="{{ person.image }}"
                     alt="{{ person.name }}"
                     style="max-width:200px;">
                {% if person.bio %}
                  <div class="mb-4">{{ person.bio | markdownify }}</div>
                {% endif %}
                {% if person.social %}
                  <ul class="list-inline social-buttons">
                    {% for net in person.social %}
                      <li class="list-inline-item">
                        <a href="{{ net.url }}" target="_blank">
                          <i class="{{ net.icon }}"></i>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
<!-- End Team Modals -->


<!-- By-Laws Modal -->
<div class="modal fade" id="modal-bylaws" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chapter By-Laws</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-left">
        {{ site.data.documents.bylaws | markdownify }}
      </div>
    </div>
  </div>
</div>

<!-- Upcoming Events Modal -->
<div class="modal fade" id="modal-events" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upcoming Events</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center p-0">
        <iframe
          src="https://calendar.google.com/calendar/embed?src=YOUR_CALENDAR_ID&ctz=America/Chicago"
          style="border:0"
          width="100%" height="600" frameborder="0" scrolling="no">
        </iframe>
      </div>
    </div>
  </div>
</div>

<!-- Organizing Modal -->
<div class="modal fade" id="modal-organizing" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Organizing</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h6>Housing Justice</h6>
        {{ site.data.documents.foci.housing | markdownify }}
        <hr>
        <h6>Palestine Solidarity</h6>
        {{ site.data.documents.foci.palestine | markdownify }}
      </div>
    </div>
  </div>
</div>
