<!-- _includes/nav.html -->
<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top
        {% if page.section == 'resources' or page.collection == 'resources' %}
          navbar-shrink
        {% endif %}"
  id="mainNav"
  style="background-color:#212529; z-index:1050;"   <!-- higher z-index so dropdown is clickable -->
>
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
      {%- if site.logo -%}
        <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}" />
      {%- else -%}
        {{ site.title }}
      {%- endif -%}
    </a>

    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      Menu <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">

        {%- if site.locale and site.locale != "" and site.locale != nil -%}
          {%- assign nav_items = site.data.navigation[site.locale].nav -%}
        {%- else -%}
          {%- assign nav_items = site.data.navigation.nav -%}
        {%- endif -%}

        {%- for link in nav_items -%}

          {%- if link.url -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url | relative_url }}">{{ link.title }}</a>
            </li>

          {%- elsif link.section == "resources" -%}
            {%- if page.section == "resources" or page.collection == "resources" -%}
              <!-- Full dropdown with fixed order -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="resourcesDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="resourcesDropdown">

                  <!-- Chapter Documentation -->
                  <h6 class="dropdown-header">Chapter Documentation</h6>
                  <a class="dropdown-item font-weight-bold" href="{{ '/resources/chapter-documentation/' | relative_url }}">Overview</a>
                  <a class="dropdown-item pl-4" href="{{ '/resources/chapter-documentation/governing-documents/' | relative_url }}">Governing Documents</a>
                  <a class="dropdown-item pl-4" href="{{ '/resources/chapter-documentation/steering-committee-meetings/' | relative_url }}">Steering Committee Meetings</a>
                  <a class="dropdown-item pl-4" href="{{ '/resources/chapter-documentation/chapter-meetings/' | relative_url }}">Chapter Meetings</a>
                  <a class="dropdown-item pl-4" href="{{ '/resources/chapter-documentation/historical-documents/' | relative_url }}">Historical Documents</a>
                  <div class="dropdown-divider"></div>

                  <!-- Committees -->
                  <h6 class="dropdown-header">Committees</h6>
                  <a class="dropdown-item font-weight-bold" href="{{ '/resources/committees/' | relative_url }}">Overview</a>
                  <!-- Add committee sub-pages here with pl-4 if desired -->
                  <div class="dropdown-divider"></div>

                  <!-- Educational Resources -->
                  <h6 class="dropdown-header">Educational Resources</h6>
                  <a class="dropdown-item font-weight-bold" href="{{ '/resources/educational-resources/' | relative_url }}">Overview</a>
                  <!-- Add educational sub-pages here -->
                  <div class="dropdown-divider"></div>

                  <!-- Working Groups -->
                  <h6 class="dropdown-header">Working Groups</h6>
                  <a class="dropdown-item font-weight-bold" href="{{ '/resources/working-groups/' | relative_url }}">Overview</a>
                  <!-- Add working-group sub-pages here -->

                </div>
              </li>
            {%- else -%}
              <!-- Just scroll down to the resources section on home page -->
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/#resources">{{ link.title }}</a>
              </li>
            {%- endif -%}

          {%- elsif link.section -%}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ site.baseurl }}/#{{ link.section }}">{{ link.title }}</a>
            </li>

          {%- else -%}
            <li class="nav-item">
              <a class="nav-link" href="#">{{ link.title }}</a>
            </li>
          {%- endif -%}

        {%- endfor -%}

      </ul>
    </div>
  </div>
</nav>
